.methodology-title {
    font-size: 24px; 
    color: #333; 
    margin-left: 20px;
    margin-bottom: 10px; 
    text-align: left; 
  }
  
  .methodology-body {
    font-size: 16px; 
    color: #333; 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px; 
    text-align: left; 
  }
  
  .image-container {
    img {
        margin-left: 20px;
        width: 55%;    
        height: auto;   
    }
  }