<div>
    <p class="methodology-title">Methodology</p>
               
    <p class="methodology-body">
        <strong>Database Schema:</strong> The product carbon footprint is calculated using a database with the following schema:
    </p>
        
    <div class="image-container">
        <img src="assets/schema2.png" alt="Database Schema" />
    </div>
        
    <p class="methodology-body">
        To use the app, fill out the tables contained in the <strong>Data</strong> folder, as shown in the left of the schema figure. The app uses the data from the tables to calculate the views shown on the right of the figure.
    </p>
  
    <p class="methodology-body">
      Further details regarding the methodology employed in the development of this application can be found in the referenced paper or in the detailed documentation available in the official GitHub repository: <a href="https://github.com/mafedavila/product_footprint.git">product_footprint</a>.
  </p>
  </div>