<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <div class="logo-menu-container">
        <img src="assets/OFFIS_Logo.png" alt="Logo" class="logo">
      </div>

      <!-- Top items in a dedicated div -->
      <div>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>scatter_plot</mat-icon>
          <span class="menu-item">Method</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'dashboard'">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <span class="menu-item">Dashboard</span>
        </mat-list-item> 
      </div>

      <!-- User item at the bottom in its own div -->
      <div>
        <mat-list-item [routerLink]="'info'">
          <mat-icon mat-list-icon>info</mat-icon>
          <span class="menu-item">Info</span>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content section for routing output -->
  <mat-sidenav-content>
    <mat-toolbar>
      <h4>Sustainability Report</h4>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
