<div class="container">
  <nav class="sidebar">
    <div class="logo-container">
      <img src="assets/OFFIS_Logo.png" alt="Logo" class="logo">
    </div>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/corporate-carbon-footprint">Corporate Carbon Footprint</a></li>
      <li routerLinkActive="active"><a routerLink="/product-carbon-footprint">Product Carbon Footprint</a></li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
