<div class="info-content">
    <p>
      This is an OpenSource Artifact developed by <a href="https://github.com/mafedavila" target="_blank"><strong>Maria Davila</strong></a> from <em>OFFIS Institute of Technology</em> together with the project partners in EDNA.
      For more details, visit the project <a href="https://www.offis.de/offis/projekt/edna.html" target="_blank">EDNA</a>.
    </p>
    <p>The components of this project are built using the following resources:</p>
    <ul>
      <li><strong>Database:</strong> TimeScaleDB, developed by Postgresql. Learn more about Postgresql at <a href="https://www.postgresql.org" target="_blank">their site</a>.</li>
      <li><strong>Dashboard:</strong> Implemented using Grafana. Visit <a href="https://grafana.com" target="_blank">Grafana</a> for more information.</li>
      <li><strong>Website:</strong> Developed using the Angular Material tutorial from <a href="https://github.com/ThomasOliver545/angular-material-sidenav-expandable" target="_blank">this GitHub repository</a>.</li>
    </ul>
  </div>
  