<h1>Welcome to the Sustainability Report App</h1>


<div class="info-content">
    <p>
      This is an OpenSource Artifact developed by <a href="https://github.com/mafedavila" target="_blank"><strong>Maria Davila</strong></a> from <em>OFFIS Institute of Technology</em> for the EDNA project.
      For more details, visit the project <a href="https://www.offis.de/offis/projekt/edna.html" target="_blank">EDNA</a>.
    </p>

    <p><strong>Objective:</strong> The objective of this application is to facilitate the report of carbon footprint for manufacturing companies.</p>


    <p>The components of this project are built using the following resources:</p>
    <ul>
      <li><strong>Database:</strong> TimeScaleDB, developed by Postgresql. Learn more about Postgresql at <a href="https://www.postgresql.org" target="_blank">their site</a>.</li>
      <li><strong>Dashboard:</strong> Implemented using Grafana. Visit <a href="https://grafana.com" target="_blank">Grafana</a> for more information.</li>
      <li><strong>Website:</strong> Developed using Angular Material.</li>
    </ul>
  </div>
  